// secrets.h

#ifndef SECRES_H
#define SECRES_H


const char* WIFI_SSID     = "<YOUR-WiFi-SSID>";
const char* WIFI_PASSWORD = "<YOUR-WiFi-PSW>";

const char* SERVER_URL    = "http://<RPi-IP>:5000/sensors/add";
const char* API_KEY       = "<YOUR-API-KEY>";

#endif